mat-grid-list {
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 0 !important;
}

.lead-text {
  text-align: center;
  padding-top: 16px;
  font-size: 13pt;
  margin-bottom: 16px;
}

@media screen and (max-width: 620px) {
  :host ::ng-deep body {
    margin-bottom: -200px;
  }
}
