<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()" id="main-menu">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Virus Launcher by Eliastik's Softs</span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="launchEgg()"></button>
    <button mat-icon-button (click)="showUpdatedFiles()" *ngIf="nativeService.hasUpdateFiles" matTooltip="{{ 'menu.updatedFiles' | translate }}">
      <mat-icon matBadge="!" matBadgeColor="warn" aria-hidden="false">warning</mat-icon>
    </button>
    <button mat-icon-button (click)="showMissingFiles()" *ngIf="nativeService.hasUpdateFiles && nativeService.missingFiles && nativeService.missingFiles.length > 0" matTooltip="{{ 'menu.missingFiles' | translate }}">
      <mat-icon matBadge="!" matBadgeColor="warn" aria-hidden="false">warning</mat-icon>
    </button>
    <button mat-icon-button (click)="showModifiedFiles()" *ngIf="nativeService.hasUpdateFiles && nativeService.modifiedFiles && nativeService.modifiedFiles.length > 0 && !(nativeService.missingFiles && nativeService.missingFiles.length > 0)" matTooltip="{{ 'menu.modifiedFiles' | translate }}">
      <mat-icon matBadge="!" matBadgeColor="warn" aria-hidden="false">warning</mat-icon>
    </button>
    <button mat-icon-button (click)="checkUpdate()" *ngIf="updateService.hasUpdate" matTooltip="{{ 'menu.updateAvailable' | translate }}">
      <mat-icon matBadge="!" matBadgeColor="warn" aria-hidden="false">update</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item (click)="openSettings(); sidenav.close()">{{ 'menu.settings' | translate }}</a>
      <a mat-list-item (click)="openAbout(); sidenav.close()">{{ 'menu.about' | translate }}</a>
      <a mat-list-item (click)="checkUpdate(); sidenav.close()">{{ 'menu.update' | translate }}</a>
      <a mat-list-item (click)="closeApp()">{{ 'menu.exit' | translate }}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
