<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()" id="main-menu">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Virus Launcher by Eliastik's Softs</span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="launchEgg()"></button>
    <button mat-icon-button (click)="checkUpdate()" *ngIf="updateService.hasUpdate">
      <mat-icon matBadge="!" matBadgeColor="warn">update</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item (click)="openSettings(); sidenav.close()">{{ 'menu.settings' | translate }}</a>
      <a mat-list-item (click)="openAbout(); sidenav.close()">{{ 'menu.about' | translate }}</a>
      <a mat-list-item (click)="checkUpdate(); sidenav.close()">{{ 'menu.update' | translate }}</a>
      <a mat-list-item (click)="closeApp()">{{ 'menu.exit' | translate }}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
