<h1 mat-dialog-title>{{ 'aboutDialog.title' | translate }}</h1>
<div mat-dialog-content>
    <div><span>{{ 'aboutDialog.description' | translate }}</span> <a href="#" (click)="openWebsite()">https://www.eliastiksofts.com</a></div>
    <div><span>{{ 'aboutDialog.version' | translate }} {{app.version}}</span></div>
    <div><span>{{ 'aboutDialog.versionDate' | translate }} {{renderDate()}}</span></div>
</div>
<mat-dialog-actions align="end">
    <button mat-button cdkFocusInitial (click)="closeDialog()">{{ 'aboutDialog.close' | translate }}</button>
</mat-dialog-actions>