@if (!hasError) {
  <h1 mat-dialog-title>{{ 'downloadingFilesDialog.title' | translate }}</h1>
}
@if (hasError) {
  <h1 mat-dialog-title>{{ 'downloadingFilesDialog.hasErrorTitle' | translate }}</h1>
}
<div mat-dialog-content>
  @if (!hasError) {
    <div class="dialogDescription">
      <mat-spinner [diameter]="40"></mat-spinner>
      <span>{{ 'downloadingFilesDialog.description' | translate }}</span>
    </div>
  }
  @if (hasError) {
    <div class="dialogDescription">
      <span>{{ 'downloadingFilesDialog.hasErrorDescription' | translate }}</span>
    </div>
  }
</div>
@if (hasError) {
  <mat-dialog-actions align="end">
    <button mat-button cdkFocusInitial (click)="retry()">{{ 'downloadingFilesDialog.retry' | translate }}</button>
    <button mat-button cdkFocusInitial (click)="closeDialog()">{{ 'downloadingFilesDialog.close' | translate }}</button>
  </mat-dialog-actions>
}
