.truncate {
    width: 250px !important;
    height: 65px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

mat-card-subtitle {
  margin-top: 20px;
}

@media screen and (max-width: 760px) {
  :host ::ng-deep .mat-mdc-card-header {
    max-width: 300px !important;
  }
}
