@use "@angular/material" as mat;
@include mat.elevation-classes();
@include mat.app-background();

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/roboto/roboto-latin-400-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/roboto/roboto-latin-500-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/roboto/roboto-latin-600-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/material-icons/material-icons-outlined.woff2') format('woff2');
}

mat-icon {
  font-family: 'Material Icons' !important;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$angular-primary: mat.m2-define-palette(mat.$m2-indigo-palette, 500, 100, 900);
$angular-primary-dark: mat.m2-define-palette(mat.$m2-indigo-palette, 200, 100, 900);
$angular-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);

$angular-warn: mat.m2-define-palette(mat.$m2-red-palette);

$angular-default-theme: mat.m2-define-light-theme((color: (primary: $angular-primary,
        accent: $angular-accent,
        warn: $angular-warn,
      ),
    ));

@include mat.all-component-themes($angular-default-theme);

$angular-dark-theme: mat.m2-define-dark-theme((color: (primary: $angular-primary-dark,
        accent: $angular-accent,
        warn: $angular-warn,
      ),
    ));

.darkMode {
  @include mat.all-component-colors($angular-dark-theme);
}

.mdc-dialog__container {
  user-select: none !important;
}
